.container {
    border: 1px solid var(--secondary-green);
    border-radius: 8px;
    width: 28.5em;
    margin-top: 43px;
    background-color: var(--tertiary-green);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-content {
    margin-top: 27px;
    font-family: 'Inter';
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: var(--brown);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input select {
    width: 361px;
    height: 48px;
    padding: 0.5em;
    border: 1px solid var(--quartiary-green);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--white);
    background-color: var(--quartiary-green);
}

.form-input select option {
    font-size: 16px;
    color: var(--white);
    background-color: var(--quartiary-green);
}

.form-input {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-input label {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: var(--brown);
}

.form-input input {
    width: 361px;
    height: 48px;
    padding: 0.5em;
    background-color: var(--quartiary-green);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: var(--white);
    font-size: 20px;
}

.form-input input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.46);
}

.submit-btn {
    margin: 41px 0 28px 0;
}

.submit-btn button {
    width: 180px;
    height: 51px;
    background-color: var(--main-green);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn button:hover {
    background-color: rgba(33, 78, 52, 0.5);
}